<a href="https://colab.research.google.com/github/mk17250/CE888--Lab-6-/blob/main/CE888_Lab_6_Task_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn import cluster, datasets, metrics
import seaborn as sns

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
URL = "https://raw.githubusercontent.com/sagihaider/CE888_2021/main/Lab_6/Data/Country-data.csv"

In [13]:
df = pd.read_csv(URL)
df.head(n=10)

               country  child_mort  exports  ...  life_expec  total_fer   gdpp
0          Afghanistan        90.2     10.0  ...        56.2       5.82    553
1              Albania        16.6     28.0  ...        76.3       1.65   4090
2              Algeria        27.3     38.4  ...        76.5       2.89   4460
3               Angola       119.0     62.3  ...        60.1       6.16   3530
4  Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200
5            Argentina        14.5     18.9  ...        75.8       2.37  10300
6              Armenia        18.1     20.8  ...        73.3       1.69   3220
7            Australia         4.8     19.8  ...        82.0       1.93  51900
8              Austria         4.3     51.3  ...        80.5       1.44  46900
9           Azerbaijan        39.2     54.3  ...        69.1       1.92   5840

[10 rows x 10 columns]